.carousel .slides li img {
    max-width: 100%;
}

.sort{
	display: inline-block;
	vertical-align: middle;
}
.select-wrapper span.caret:after{
	position: absolute;
    background: #fff;
    right: -5px;
}
.select-wrapper span.caret{
	right: 15px;
}
.form .input-field.submit_in button[type='submit'] {
    border: 1px solid #ff6f00;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: auto;
    line-height: 1em;
    height: 100%;
    padding: 0px 10px;
    background-color: #ff6f00;
    color: #fff;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    text-indent: 0;
}
label.error{
	color: #fff;
}
.alert-block{
    text-align: center;
}
.notification{
    text-align: center;
}
.inline{
    display: inline-block;
}
.avatar{
    width: 210px !important;
    top: 15px !important;

}


.modal_tabs .tabs {
    margin: 0px 0px 30px 0px;
}

.auth_modal .modal-content {
    padding: 24px;
    text-align: center;
}

.tab_content form {
    margin: 0 auto;
}
.tab_content input {
   margin-bottom: 20px; 
}
.tab_content h1 {
    font-size: 20px;
    font-weight: 400;
}

.auth_modal.modal {
    width: 22%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    margin-top: -10px;
}

.hr-text:before {
    content: '';
    background: -webkit-linear-gradient(left, transparent, #818078, transparent);
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

.card.bordered .card-header {
    border-bottom: 1px solid #F0F0F0;
}
.card .card-header {
    padding: 10px;
    background-color: #FCFCFC;
}
.card .card-title {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    line-height: 16px;
}
.card .card-content {
    padding: 15px;
    border-radius: 0 0 2px 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.page-cash-ico{
    padding: 0 10px;
}
.form-lot{
    /* padding: 30px 0; */
   /*  margin-top: 20px; */
    overflow: hidden;
}
.date-published, .date-expiration{
    position: static;
}
.spec_add {
    text-align: right;
}
.specification_label{
    font-size: 9px;
    color: rgba(0,0,0,0.26);
}
.img-responsive {
    display: block;
    width: 100%;
    /* width: 100%; */
    height: auto;
}
.form .input-field{
    margin-bottom: 15px;
}
.dropzone{
    margin-bottom: 15px;
}
.input-field input[disabled]{
    background-color: #e9e9e9;
    cursor: no-drop;
}
.inner_product {
    padding: 15px 0 0 0;
}
.add_product .input-field p{
    margin: 0;
}
.margin15{
    margin: 15px;
}
.padding15{
    padding: 15px;
}
.border{
    border: 1px solid #e9e9e9;
}
.lot{
    margin-bottom: 30px;
}
.margin15:after, .padding15:after, .overflow:after{
    content: "";
    display: table;
    clear: both;
}
.add_spec_btn, .ico-remove{
    display: inline-block;
}
.ico-remove{
    margin-top: 8px;
}
.color-select{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.color-select li{
    display: inline-block;
}
.color-select li label{
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
}
.color-select li label:hover{
    border: 1px solid #ff6f00;
}
.color-visited{
    border: 1px solid #ff6f00;
}
.label-color{
    margin-bottom: 5px;
}
.inner_product{
    background-color: #fff;
    cursor: move;
}
.comision{
    font-size: 0.8rem;
    color: #9e9e9e;
}
.set_vote i {
    font-size: 18px;
    color: #828384;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.set_vote i:hover {
    color: #373839;
}
.material-icons.vote_active  {
    color: #373839;
}
.set_vote span {
    font-size: 14px;
    color: #9e9e9e;
    vertical-align: middle;
    cursor: pointer;
}

ul.auth_errors {
text-align: left;
}

.auth_modal .auth_errors li{
    display: block;
    color: #fff;
    background: rgba(255, 0, 0, 0.7);
    padding: 5px 10px;
    margin: 5px 0;
}

.auth_modal .authentification h1 + p {
    margin: 5px auto 20px;
}

.input_red {
    background: red;
    border: 1px solid red;
}

.auth_modal .autologin {
   margin-top:-15px; 
}

.star_rating[data-rating_value='0'] li:nth-of-type(n+1) {
  color: #bebebe;
}

.vendor_edit.materialize-textarea {
    padding: 0;
}
.vendor_edit_phone,
.register_form_phone {
    position: relative;
}
.vendor_edit_phone input {
    padding-left: 40px;
    box-sizing: inherit;
}
.country_code {
    position: absolute;
    left: 3px;
    top: 34px;
}
.register_form_phone input{
    padding-left: 32px;
    box-sizing: inherit;
}
.country_code_register {
    position: absolute;
    left: 10px;
    top: 9px; 
    font-size: 1rem;
}
.settings_avatar_image {
    position: relative;
    text-align: center;
}
.settings_avatar_image input {
    display: none;
}
.settings_avatar_image i {
    text-align: center;
    padding-top: 22px;
    font-size: 35px;
    color: #f1f1f1;
}
.settings_avatar_format {
    padding: 15px 0 0 10px;
}
.settings_avatar_image label {
   display:none;
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.5);
   width: 78px;
   height: 78px;
   cursor: pointer; 
}
.settings_avatar_image:hover.settings_avatar_image label {
    display: block;
}
.product_card h4 {
    max-width: 350px;
}
.product_card .sub_content .model_info .label {
    height: 45px;
    text-align: left;
    padding-left: 15px;
}
.model_info_title_product {
    overflow: hidden;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    padding: 8px;
}
.model_info_title_product span {
    color: #9e9e9e;
    padding-left: 7px;
}
.product_name {
    text-decoration: none;
    color: inherit;
}
.profile_settings_submit {
    margin-top: 30px;
    text-decoration: none;
    color: inherit;
}
.filtru input[type="checkbox"] + label {
    padding-left: 18px;
}
.filtru span {
    width: 49%;
    display: inline-block;
    height: 25px;
    overflow: hidden;
}